@import url("http://fonts.googleapis.com/css?family=Kavoon");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
  font-family: "Nunito", sans-serif;
}

.meme-generator-container {
  background-color: #eeeeeeee;
  height: auto;
  border: 1px #eeeeeeee solid;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  width: 3px;
  border-radius: 0.1rem;
  height: 5px;
  scroll-behavior: smooth !important;
}

*::-webkit-scrollbar-track {
  background-color: #FF9898;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #E23E57;
  border-radius: 10px;
}

button .darkmode-layer, .darkmode-toggle {
  z-index: 500;
}

.slider-container {
  position: relative;
  width: 90%;
  margin: 15px auto;
  background-color: #ffffff;
  border-radius: 5px;
  isolation: isolate;
}

.slider-container .slider-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #000;
}

.slider-container .slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 250px;
  margin: 0px auto;
  width: 100%;
  background-color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  isolation: isolate;
}

.slider-container .slider > * {
  margin: 5px;
}

.slider-container .slider .slider-item {
  margin: 15px;
  max-width: 10rem;
  height: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  cursor: pointer;
}

.slider-container .slider .slider-item img {
  object-fit: cover;
  height: 70%;
  border-radius: 5px;
}

.slider-container .slider .slider-item .meme-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 5px;
  margin-top: 20px;
  isolation: isolate;
}

.slider-container .arrow {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  padding: 10px;
  background-color: #E23E57;
  color: white;
  cursor: pointer;
  box-shadow: #FF9898 0px 0px 0px 3px;
  z-index: 10;
}

.slider-container .arrow-left {
  left: -20px;
}

.slider-container .arrow-right {
  right: -20px;
}

@media screen and (max-width: 700px) {
  .arrow {
    display: none;
    opacity: 0;
  }
}

.darkmode--activated .slider-container {
  background-color: #000;
}

.darkmode--activated .slider {
  background-color: #000;
}

.darkmode--activated .slider-title {
  color: white;
}

.darkmode--activated .meme-name {
  color: white;
}

header {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

header h2 {
  text-align: center;
  z-index: 2;
  font-weight: 900;
  color: #000;
  isolation: isolate;
}

header h1 {
  color: #000;
  isolation: isolate;
}

header .labels > * {
  margin: 10px;
}

header #image-file-input {
  display: none;
  border-radius: 5px;
}

header .upload-file-label,
header .random-meme-label {
  background-color: #E23E57;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  box-shadow: #FF9898 0px 0px 0px 3px;
  isolation: isolate;
  font-size: 19px;
}

@media screen and (max-width: 439px) {
  header {
    padding: 5px;
  }
  header h1 {
    font-size: 22px;
  }
  header h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 310px) {
  .labels > * {
    display: flex;
    flex-direction: row;
  }
  .labels > * {
    margin: 20px;
  }
}

.darkmode--activated header h1 {
  color: white;
}

.darkmode--activated header h2 {
  color: white;
}

.darkmode--activated .upload-file-label {
  color: #000;
  font-weight: 600;
}

.darkmode--activated .random-meme-label {
  color: #000;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  margin: 30px auto;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 5px;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.container .items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .items label {
  color: #000;
}

.container .items > * {
  margin: 10px;
}

.container .items .text-tools-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container .items .text-tools-container > * {
  margin-left: 5px;
  margin-right: 5px;
  margin: 5px;
}

.container .items .text-tools-container .tools {
  display: flex;
  flex-direction: row;
}

.container .items .text-tools-container .tools > * {
  margin-left: 5px;
  margin-right: 5px;
}

.container .items .text-tools-container input[type="color"] {
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  outline: none;
  isolation: isolate;
}

.container .items .text-tools-container .text-font-size {
  width: 50px;
  font-size: 16px;
  border: none;
  outline: none;
  border: 1px #ffffff solid;
}

.container .items input[type="text"] {
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 600;
  max-width: 300px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 5px;
}

.container .items input {
  padding: 1px 5px;
  border-radius: 3px;
}

.container .items .save-button {
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #E23E57;
  font-size: 16px;
  box-shadow: #FF9898 0px 0px 0px 3px;
  isolation: isolate;
  margin-top: 30px;
}

.container > * {
  margin: 8px;
}

.container .lower-canvas {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
}

.container .upper-canvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
}

.container .canvas-container {
  width: 700px !important;
  height: auto !important;
  border-radius: 20px;
}

.darkmode--activated .save-button {
  color: #000 !important;
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */