@import url("http://fonts.googleapis.com/css?family=Kavoon");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

.meme-generator-container {
  background-color:$background-color-primary;
  height:auto;
  border:1px $background-color-primary solid;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  width: 3px;
  border-radius: 0.1rem;
  height: 5px;
  scroll-behavior: smooth !important;
}

*::-webkit-scrollbar-track {
  background-color: $box-shadow-color;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-primary;
  border-radius: 10px;
}

button .darkmode-layer,.darkmode-toggle {
  z-index: 500;
}
