.slider-container {
  position: relative;
  width: 90%;
  margin:15px auto;
  background-color:$background-color-secondary;
  border-radius: 5px;
  isolation: isolate;

  .slider-title {
    margin: 5px auto;
    text-align: center;
    padding: 10px;
    width: 95%;
    color:$color-secondary;
  }

  .slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 250px;
    margin: 0px auto;
    width: 100%;
    background-color: $background-color-secondary;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    isolation: isolate;

    & > * {
      margin: 5px;
    }

    .slider-item {
      margin: 15px;
      max-width: 10rem;
      height: 90%;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      justify-content: center;
      cursor: pointer;

      img {
        object-fit: cover;
        height: 70%;
        border-radius: 5px;
      }

      .meme-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        margin: 5px;
        // color:$color-secondary;
        margin-top:20px;
        isolation: isolate;
      }
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    padding: 10px;
    background-color: $color-primary;
    color: $text-color;
    cursor: pointer;
    box-shadow: $box-shadow-color 0px 0px 0px 3px;
    z-index: 10;

    &-left {
      left: -20px;
    }

    &-right {
      right: -20px;
    }
  }
}


@media screen and (max-width:700px) {
  .arrow {
    display: none;
    opacity: 0;
  }
}


.darkmode--activated .slider-container{
  background-color:$color-secondary;
}

.darkmode--activated .slider{
  background-color:$color-secondary;
}

.darkmode--activated .slider-title{
  color:$text-color;
}

.darkmode--activated .meme-name{
  color:$text-color;
}

.darkmode--activated .arrow {
  color:$color-secondary !important;
}

