$color-primary: #E23E57;
$color-secondary : #000;
$background-color-primary: #eeeeeeee;
$background-color-secondary: #ffffff;
$background-color-tertiary: #e3f2fdb2;
$text-color: white;
$box-shadow-color: #FF9898;
$dark-color-primary : #161616;
$dark-color-secondary : #171717;
