@import url("http://fonts.googleapis.com/css?family=Kavoon");

body {
    background-color: brown;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  margin:30px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* height: 100vh; */
  border-radius:5px;
  background-color: white;
  
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  border:2px red solid;
}

.container > * {
  margin: 8px;
}

input {
  padding: 5px;
  border-radius: 3px;
}

input[type="file"] {
  cursor: pointer;
}

input[type="text"] {
  outline: none;
  border: none;
  border: 1px black solid;
  min-width: 50px;
  max-width: 300px;
  width: 55%;
}

#c {
    border:2px black solid;
}

.canvas-container {
    border:2px blue solid;
}


.slider {
  border:3px red solid;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  height:200px;
}


.slider-item {
  height:100%;
  width:300px;
  border:3px green solid;
}

img {
  height:100%;
  width:100%;
  width:300px;
  object-fit:contain;
  
}
